TilePane {
	-fx-background-image: url("../data/background_small.png");
	-fx-background-position: center center;
	-fx-background-size: 100%; 
	-fx-background-repeat: stretch;
}

Label {
	-fx-font: 20px "System";
	-fx-text-fill: rgba(255, 255, 255, 0.8);
 	-fx-font-weight: bold; 
}

Label .text {
	-fx-stroke: rgba(40, 40, 40, 1.0);
	-fx-stroke-width: 0.7px;
}

#backButton {
	-fx-border-radius: 100.0%;
	-fx-background-color: rgba(0,0,0,0); 
}

#backImg {
	-fx-opacity: 1.0;
}

